<h2 class="justify-center">SIMPLE RECIPES MADE FOR REAL, ACTUAL, EVERYDAY LIFE.</h2>

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/profile.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Cooking With Node.js">
    </div>

    <div class="col-12 col-lg-6">
        <div class="px-4">
            <h1 class="mt-4 md:mt-0 font-domaine mb-6 text-5xl lg:text-7xl text-purple-500">About Me</h1>
            <h3 class="my-8 leading-3 flex space-x-2 text-black text-base font-arvo uppercase tracking-widest">
                <span>Hi, my name is</span>
                <span class="lindsay">Shreya!</span>
            </h3>
            <p class="leading-normal lg:leading-loose mb-4 lg:mb-6">And Cooking Blog is my little corner of the
                internet!</p>
            <p class="leading-normal lg:leading-loose mb-4 lg:mb-6">I'm the voice, author, and creator behind Pinch of
                Yum. What started as a casual hobby over 10 years ago in 2010 while I was working as a fourth grade
                teacher has now grown into a full-blown business !! that reaches millions of people with fun recipes
                each month, with content that has been featured on The Kitchn, CNN,Huffington Post, The Everymom,
                PureWow, and more.</p>
        </div>

    </div>

</div>